/* Write your CSS here */
.ull {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main {
}
h1 {
  text-align: center;
}
.ulll{
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
}